/* Block Element - An element that occupies 100% of the space available to the parent */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  padding: 16px;
}

.header {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fact-form {
  background-color: #44403c;
  margin: 10px;
  padding: 16px 16px;
  text-align: center;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  /* text-align: center; */
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  /* background-color: green; */
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  font-family: "Sono";
  color: #fafaf9;
  background-color: #44403c;
  border: 3px solid white;
  margin: 10px;
  padding: 30px 30px;
}

.tags {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  color: #fafaf9;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  /* padding-top: 3px; */
  /* display: block; */
}

ul {
  list-style: none;
}
