/* Block Element - An element that occupies 100% of the space available to the parent */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  font-family: Sono, sans-serif;
  color: #fafaf9;
  padding: 48px 64px;
}

/* MAIN LAYOUT */

.container {
  margin: 0 auto;
  max-width: auto;
  background-color: teal;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  color: inherit;
  font-family: Coiny, sans-serif;
  text-transform: uppercase;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #eab308, #db2777);
  color: inherit;
  transition: 0.3s;
  border-radius: 25px;
  cursor: pointer;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.logo {
  display: flex;
  align-items: center;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 10px;
  padding: 16px 16px;
  text-align: center;
  border-radius: 15px;
}

.hidden {
  display: none !important;
}

.fact-form input,
.fact-form select {
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 15px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

.fact-form input:first-child {
  flex-grow: 1;
}

@media (max-width: 1000px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
  .fact-form {
    flex-direction: column;
  }
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: Coiny, sans-serif;
  color: #fafaf9;
}

.vote-buttons {
  margin-left: auto;
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 12px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

.fact {
  font-size: 20px;
  color: inherit;
  font-family: inherit;
  line-height: 1.4;
  background-color: #44403c;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 15px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.tags {
  text-transform: uppercase;
  font-size: 14px;
  font-family: Coiny, sans-serif;
  color: #fafaf9;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 25px;
  cursor: pointer;
}

ul {
  list-style: none;
}
